BUOI4/DSSV.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified">

  <!-- Kiểu dữ liệu chung -->
  <xs:simpleType name="CodeType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NameType">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="EmailType">
    <xs:restriction base="xs:string">
      <xs:pattern value="^[^@]+@[^@]+\.[^@]+$"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="PhoneType">
    <xs:restriction base="xs:string">
      <xs:pattern value="^0\d{9}$"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="KhoaNameLower">
    <xs:restriction base="xs:string">
      <xs:pattern value="^[a-z]+$"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="DSSV">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="KHOA" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MAKHOA" type="CodeType"/>
              <xs:element name="TENKHOA" type="KhoaNameLower"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="LOP" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MALOP" type="CodeType"/>
              <xs:element name="TENLOP" type="NameType"/>
              <xs:element name="MAKHOA" type="CodeType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="SINHVIEN" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MASV" type="CodeType"/>
              <xs:element name="HOTEN" type="NameType"/>
              <xs:element name="EMAIL" type="EmailType"/>
              <xs:element name="DIACHI" type="xs:string"/>
              <xs:element name="SDT" type="PhoneType"/>
              <xs:element name="MALOP" type="CodeType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Khóa chính -->
    <xs:key name="KhoaKey">
      <xs:selector xpath="KHOA"/>
      <xs:field xpath="MAKHOA"/>
    </xs:key>

    <xs:key name="LopKey">
      <xs:selector xpath="LOP"/>
      <xs:field xpath="MALOP"/>
    </xs:key>

    <xs:key name="SvKey">
      <xs:selector xpath="SINHVIEN"/>
      <xs:field xpath="MASV"/>
    </xs:key>

    <!-- Khóa ngoại -->
    <xs:keyref name="LopRefKhoa" refer="KhoaKey">
      <xs:selector xpath="LOP"/>
      <xs:field xpath="MAKHOA"/>
    </xs:keyref>

    <xs:keyref name="SvRefLop" refer="LopKey">
      <xs:selector xpath="SINHVIEN"/>
      <xs:field xpath="MALOP"/>
    </xs:keyref>
  </xs:element>
</xs:schema>
